[build-system]
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"

[project]
name = "robotframework-clang"
version = "0.1.2"
description = "Robot Framework library for Clang-REPL execution via xeus-cpp"
readme = "README.md"
authors = [
  { name = "Massimo Rossello" },
]
license = "Apache-2.0"
classifiers = [
    "Framework :: Robot Framework",
    "Programming Language :: Python :: 3",
]
dependencies = [
    "robotframework",
    "jupyter_client",
    "docutils"
]
requires-python = ">=3.8"

[project.optional-dependencies]
docs = [
    "sphinx",
    "sphinx_rtd_theme",
    "myst-parser"
]

[tool.setuptools.packages.find]
where = ["src"]
